@font-face {
  font-family: 'RockwellStd';
  src: url('/fonts/RockwellStd.woff2') format('woff2'),
       url('/fonts/RockwellStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RockwellStd';
  src: url('/fonts/RockwellStd-Light.woff2') format('woff2'),
       url('/fonts/RockwellStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RockwellStd';
  src: url('/fonts/RockwellStd-Bold.woff2') format('woff2'),
       url('/fonts/RockwellStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
} 